.columns > div {
  display: flex;
  flex-direction: column;
}

.columns img {
  width: 100%;
}

.columns > div > div {
  order: 1;
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns > div > .columns-img-col img {
  display: block;
  border-radius: 25px;
}

@media (min-width: 900px) {
  .columns > div {
    align-items: center;
    flex-direction: unset;
    gap: 32px;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
  }
}

.cmp-twocolumns{
  
}

.cmp-list{

}

.cmp-moreinfo{}

.cmp-store{}

div.columns.cmp-footer.block.columns-4-cols ul:nth-child(1),
div.columns.cmp-footer.block.columns-4-cols ul:nth-child(2),
div.columns.cmp-footer.block.columns-4-cols ul:nth-child(3),
div.columns.cmp-footer.block.columns-4-cols ul:nth-child(4){
  color: red;
  list-style-type: none;
  text-decoration: none;
}

div.columns.cmp-footer.block.columns-4-cols li:nth-child(1) a,
div.columns.cmp-footer.block.columns-4-cols li:nth-child(2) a,
div.columns.cmp-footer.block.columns-4-cols li:nth-child(3) a,
div.columns.cmp-footer.block.columns-4-cols li:nth-child(4) a {
  color: black;
  text-decoration: none;
}

div.columns.cmp-footer.block.columns-4-cols img{
  height: 5rem;
  width: 10rem;
  padding-bottom: 107px;
}